body {
    margin-right: 0;
    padding: 0;
}

/*--------------------------NAV--------------------------*/

header {
    font-size: 20px;
    font-family: Myriad Pro Regular;
    color: #000;
    font-style: italic;
    margin-top: 1%;

}


#logo {
    width: 70%;
    height: auto;
    margin-top: -17%;

}

.navbar-brand-centered {
    position: absolute;
    left: 47%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}

.navbar > .container .navbar-brand-centered,
.navbar > .container-fluid .navbar-brand-centered {
    margin-left: -70px;
}

#trait1 {
    width: 45%;
    height: 1px;
    background-color: black;
    margin-top: -1em;

}

#trait2 {
    width: 44%;
    height: 1px;
    background-color: black;
    margin-left: 56%;

}

#ligne1 {
    font-family: Myriad Pro Bold;
    font-size: 30px;
}

#ligne2 {
    font-family: Myriad Pro Regular;
    font-size: 20px;
}

nav {
    background-color: white !important;
    border: none !important;
}








/*--------------------------MEDIA QUERIES NAV--------------------------*/

@media screen and (max-width: 680px) {

    #ligne1 {
        font-family: Myriad Pro Bold;
        font-size: 15px;
    }

    #ligne2 {
        font-family: Myriad Pro Regular;
        font-size: 15px;
    }
    #logo {
        width: 50%;
    }
    li {
        margin-left: 17%
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #ligne1 {
        font-family: Myriad Pro Bold;
        font-size: 15px;
    }

    #ligne2 {
        font-family: Myriad Pro Regular;
        font-size: 15px;
    }
    #logo {
        width: 64%;
        margin-left: -70%
    }
    li {
        font-size: 70%;
    }

}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
    #ligne1 {
        font-family: Myriad Pro Bold;
        font-size: 15px;
    }

    #ligne2 {
        font-family: Myriad Pro Regular;
        font-size: 15px;
    }
    #logo {
        width: 70%;
        margin-left: -45%;
    }
    li {
        font-size: 100%;
        margin-left: -2%;
    }
}

/*--------------------------CONTACT--------------------------*/

#textegauche {
    width: 30%;
    height: auto;
    float: left;
    margin-top: 2%;
    text-align: center;
    margin-left: 5%;
}


#color {
    color: #FF4500;
}

p {
    margin-top: 40%;
}

#color1 {
    color: #FF4500;

}

#devis a {
    color: red;
    font-style: italic
}



#img6 {
    margin-top: 16%;
    margin-left: 6%;
}

textarea {
    width: 60%;
    height: 150px;
    border: 2px solid grey;
    font-size: 18px;
}

#formulaire {
    margin-left: 52%;
    margin-top: -32%;
}

#societe {
    margin-top: 6%;
}

#mail {
    margin-top: 6%;
}

#tel {
    margin-top: 6%;
}

#message {
    margin-top: 6%;
    width: 55%;
}

input {
    width: 55%;
    height: 50px;
    border: 2px solid grey;
    font-size: 18px;
}

button {
    margin-left: 20% !important;
    width: 13%;
    height: 40px;
    background-color: black;
    color: white !important;
    border-radius: 12%;
}


/*--------------------------MEDIA QUERIES FORMULAIRE--------------------------*/

@media screen and (max-width: 360px) {
    #formulaire {
        margin-top: 100%;
        width: 150%;
        margin-left: 8%;
    }



    button {
        width: 20%;
    }

    #textestyle1 {
        font-size: 20px;
        float: left;
        margin-left: 50%;

    }

    #color {
        margin-left: 90%;
    }
    #devis a {
        float: left;
        margin-left: 128%;
    }
}


@media screen and (max-width: 412px) {
    #formulaire {
        margin-top: 100%;
        width: 150%;
        margin-left: 8%;
    }



    button {
        width: 20%;
    }

    #textestyle1 {
        font-size: 20px;
        float: left;
        margin-left: 50%
    }

    #color {
        margin-left: 90%;
    }
    #devis a {
        float: left;
        margin-left: 128%;
    }
}

@media screen and (max-width: 375px) {
    #formulaire {
        margin-top: 100%;
        width: 150%;
        margin-left: 8%;
    }



    button {
        width: 20%;
    }

    #textestyle1 {
        font-size: 20px;
        float: left;
        margin-left: 50%
    }

    #color {
        margin-left: 90%;
    }
    #devis a {
        float: left;
        margin-left: 128%;
    }
}



@media screen and (max-width: 414px) {
    #formulaire {
        margin-top: 100%;
        width: 150%;
        margin-left: 8%;
    }



    button {
        width: 20%;
    }

    #textestyle1 {
        font-size: 20px;
        float: left;
        margin-left: 50%
    }

    #color {
        margin-left: 90%;
    }
    #devis a {
        float: left;
        margin-left: 128%;
    }
}




@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #formulaire {
        margin-top: 5%;
        width: 150%;
        margin-left: 8%;
    }



    button {
        width: 20%;
    }

    #textestyle1 {
        font-size: 20px;
        float: left;
        margin-left: 100%
    }

    #color {
        margin-left: 123%;
    }
    #devis a {
        float: left;
        margin-left: 142%;
    }
    #img6 {
        width: 50%;
        margin-left: 25%;
        margin-top: 45%
    }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
    #formulaire {
        margin-top: 10%;
        width: 150%;
        margin-left: 8%;
    }



    button {
        width: 20%;

    }

    #textestyle1 {
        font-size: 20px;
        float: left;
        margin-left: 115%;

    }

    #color {
        margin-left: 130%;
    }
    #devis a {
        float: left;
        margin-left: 142%;
        margin-bottom: 5%;
    }
}

/*--------------------------FOOTER--------------------------*/

footer .footertext1 p {
    font-size: 1.5em;
    text-align: center;
    font-style: italic;
    margin-top: 2em;
    font-family: Myriad Pro Regular;
}

footer .footertext2 p {
    margin-top: -0.6%;
    text-align: center;
    font-family: Myriad Pro Regular;
}
