body {
    margin-right: 0;
    padding: 0;
}

/*--------------------------NAV--------------------------*/

header {
    font-size: 20px;
    font-family: Myriad Pro Regular;
    color: #000;
    font-style: italic;
    margin-top: 1%;

}


#logo {
    width: 70%;
    height: auto;
    margin-top: -17%;

}

.navbar-brand-centered {
    position: absolute;
    left: 47%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}

.navbar > .container .navbar-brand-centered,
.navbar > .container-fluid .navbar-brand-centered {
    margin-left: -70px;
}

#trait1 {
    width: 45%;
    height: 1px;
    background-color: black;
    margin-top: -1em;

}

#trait2 {
    width: 44%;
    height: 1px;
    background-color: black;
    margin-left: 56%;

}

#ligne1 {
    font-family: Myriad Pro Bold;
    font-size: 30px;
}

#ligne2 {
    font-family: Myriad Pro Regular;
    font-size: 20px;
}

nav {
    background-color: white !important;
    border: none !important;
}







/*--------------------------MEDIA QUERIES--------------------------*/

@media screen and (max-width: 680px) {
    #ligne1 {
        font-family: Myriad Pro Bold;
        font-size: 15px;
    }

    #ligne2 {
        font-family: Myriad Pro Regular;
        font-size: 15px;
    }
    #logo {
        width: 50%;
    }
    li {
        margin-left: 17%;
    }

}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #ligne1 {
        font-family: Myriad Pro Bold;
        font-size: 15px;
    }

    #ligne2 {
        font-family: Myriad Pro Regular;
        font-size: 15px;
    }
    #logo {
        width: 64%;
        margin-left: -70%
    }
    li {
        font-size: 70%;
    }

}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
    #ligne1 {
        font-family: Myriad Pro Bold;
        font-size: 15px;
    }

    #ligne2 {
        font-family: Myriad Pro Regular;
        font-size: 15px;
    }
    #logo {
        width: 70%;
        margin-left: -45%;
    }
    li {
        font-size: 100%;
        margin-left: -2%;
    }
}

/*--------------------------NOM TEL EMAIL--------------------------*/

#color1 {
    text-align: center;
    color: red;
}



#textestyle1 {
    text-align: center;
    margin-bottom: 2%;
    color: red;
}


/*--------------------------FORMULAIRE--------------------------*/

#reception {
    border: orange solid 0.1em;
    margin-left: 10%;
    margin-right: 10%;
}

#reception,
#services,
#budget,
#coordonnees input,
label {
    padding: 1.5em;
}

#coordonnees legend {
    padding: 1.5em;
}

#services {
    margin-top: 2em;
    border: orange solid 0.1em;
    margin-left: 10%;
    margin-right: 10%;
}

#budget {
    margin-top: 2em;
    border: orange solid 0.1em;
    margin-left: 10%;
    margin-right: 10%;
}

#coordonnees {
    margin-top: 2em;
    margin-bottom: 2em;
    border: orange solid 0.1em;
    margin-left: 10%;
    margin-right: 10%;

}

button {
    margin-left: 77% !important;
    width: 13%;
    height: 40px;
    background-color: black;
    color: white !important;
    border-radius: 12%;
}


}

/*--------------------------FOOTER--------------------------*/

footer .footertext1 p {
    font-size: 1.5em;
    text-align: center;
    font-style: italic;
    margin-top: 5em;
    font-family: Myriad Pro Regular;
}

footer .footertext2 p {
    margin-top: -0.6%;
    text-align: center;
    font-family: Myriad Pro Regular;
}
