body {
    margin-right: 0;
    padding: 0;
}

/*--------------------------NAV--------------------------*/

header {
    font-size: 20px;
    font-family: Myriad Pro Regular;
    color: #000;
    font-style: italic;
    margin-top: 1%;

}


#logo {
    width: 70%;
    height: auto;
    margin-top: -17%;

}

.navbar-brand-centered {
    position: absolute;
    left: 47%;
    display: block;
    width: 160px;
    text-align: center;
    background-color: transparent;
}

.navbar > .container .navbar-brand-centered,
.navbar > .container-fluid .navbar-brand-centered {
    margin-left: -70px;
}

#trait1 {
    width: 45%;
    height: 1px;
    background-color: black;
    margin-top: -1em;

}

#trait2 {
    width: 44%;
    height: 1px;
    background-color: black;
    margin-left: 56%;

}

#ligne1 {
    font-family: Myriad Pro Bold;
    font-size: 30px;
}

#ligne2 {
    font-family: Myriad Pro Regular;
    font-size: 20px;
}

nav {
    background-color: white !important;
    border: none !important;
}






/*--------------------------MEDIA QUERIES NAV--------------------------*/

@media screen and (max-width: 680px) {

    #ligne1 {
        font-family: Myriad Pro Bold;
        font-size: 15px;
    }

    #ligne2 {
        font-family: Myriad Pro Regular;
        font-size: 15px;
    }
    #logo {
        width: 50%;
    }
    li {
        margin-left: 17%;
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    #ligne1 {
        font-family: Myriad Pro Bold;
        font-size: 15px;
    }

    #ligne2 {
        font-family: Myriad Pro Regular;
        font-size: 15px;
    }
    #logo {
        width: 64%;
        margin-left: -70%
    }
    li {
        font-size: 70%;
    }

}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
    #ligne1 {
        font-family: Myriad Pro Bold;
        font-size: 15px;
    }

    #ligne2 {
        font-family: Myriad Pro Regular;
        font-size: 15px;
    }
    #logo {
        width: 70%;
        margin-left: -45%;
    }
    li {
        font-size: 100%;
        margin-left: -2%;
    }
}


/*--------------------------NOS REFERENCES--------------------------*/

#logoligne1 {
    margin-top: 5%;
    margin-left: 25%;

}

#logoligne2 {
    margin-left: 25%;
    margin-top: 2%;
}

#logoligne3 {
    margin-left: 25%;
    margin-top: 2%;
}

#logo1 {
    width: 10%;
    height: auto;
}

#logo2 {
    margin-left: 6%;
    width: 10%;
    height: auto;
}

#logo3 {
    width: 10%;
    height: auto;
    margin-left: 6%;
}

#logo4 {
    margin-left: 6%;
    width: 15%;
    height: auto;
}

/*--------------------------MEDIA QUERIES NOS REFERENCES--------------------------*/

@media screen and (max-width: 360px) {
    #logoligne1 {
        margin-top: 20%;
        margin-left: 3%;

    }

    #logoligne2 {
        margin-left: 3%;
        margin-top: 2%;
    }

    #logoligne3 {
        margin-left: 3%;
        margin-top: 2%;
    }
    #logo1 {
        width: 30%;
        height: auto;
    }

    #logo2 {
        margin-left: 30%;
        width: 30%;
        height: auto;
    }

    #logo3 {
        width: 30%;
        height: auto;
        margin-left: 6%;
    }

    #logo4 {
        margin-left: 25%;
        width: 30%;
        height: auto;
    }


}


@media screen and (max-width: 412px) {
    #logoligne1 {
        margin-top: 20%;
        margin-left: 3%;

    }

    #logoligne2 {
        margin-left: 3%;
        margin-top: 2%;
    }

    #logoligne3 {
        margin-left: 3%;
        margin-top: 2%;
    }
    #logo1 {
        width: 30%;
        height: auto;
    }

    #logo2 {
        margin-left: 30%;
        width: 30%;
        height: auto;
    }

    #logo3 {
        width: 30%;
        height: auto;
        margin-left: 6%;
    }

    #logo4 {
        margin-left: 25%;
        width: 30%;
        height: auto;
    }


}


@media screen and (max-width: 375px) {
    #logoligne1 {
        margin-top: 20%;
        margin-left: 3%;

    }

    #logoligne2 {
        margin-left: 3%;
        margin-top: 2%;
    }

    #logoligne3 {
        margin-left: 3%;
        margin-top: 2%;
    }
    #logo1 {
        width: 30%;
        height: auto;
    }

    #logo2 {
        margin-left: 30%;
        width: 30%;
        height: auto;
    }

    #logo3 {
        width: 30%;
        height: auto;
        margin-left: 6%;
    }

    #logo4 {
        margin-left: 25%;
        width: 30%;
        height: auto;
    }


}


@media screen and (max-width: 414px) {
    #logoligne1 {
        margin-top: 20%;
        margin-left: 3%;

    }

    #logoligne2 {
        margin-left: 3%;
        margin-top: 2%;
    }

    #logoligne3 {
        margin-left: 3%;
        margin-top: 2%;
    }
    #logo1 {
        width: 30%;
        height: auto;
    }

    #logo2 {
        margin-left: 30%;
        width: 30%;
        height: auto;
    }

    #logo3 {
        width: 30%;
        height: auto;
        margin-left: 6%;
    }

    #logo4 {
        margin-left: 25%;
        width: 30%;
        height: auto;
    }


}


/*--------------------------FOOTER--------------------------*/

footer .footertext1 p {
    font-size: 1.5em;
    text-align: center;
    font-style: italic;
    margin-top: 5em;
    font-family: Myriad Pro Regular;
}

footer .footertext2 p {
    margin-top: -0.6%;
    text-align: center;
    font-family: Myriad Pro Regular;
}
